@media(max-width:660px) {

   

    body {

        margin:0;
        padding:0;
        background-color: white;
        
       
    }

    .main-container {

        flex-direction: column-reverse;
        border-radius: 0;
        padding:0;
        width: 100%;
    }

    .subscribe-section {

        width: 90%;
        padding:1.5rem;
    }

    .image-section {
        width: 100%;
        
    }

    .image-section img {

        content:url(./assets/images/illustration-sign-up-mobile.svg);
        
    }
   
   .main-btns {
    padding:1.5rem;
    width: 100%;
    font-size: 1rem;
    
    
   }

   .subscribe-section input {

    padding:1.5rem;
    font-size: 1rem;
   }

   .thanks-section {

    width: 90%;
    height: 80vh;
    justify-content: space-between;
    
   }


   .thanks-section img {

    width: 60px;
    margin-bottom:15px;
   }
}


